@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root
{
    --font-style: 'Nunito Sans', sans-serif;
}

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(/Projects/ProjectBackgroung.jpg) no-repeat center center/cover;
    padding: 50px 0;
    text-align: center;
    color: whitesmoke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  .Project-odd {
    background-color: #00246B; 
    color: #CADCFC; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    border-radius: 15px;
  }
  .Project-even {
    background-color: #31473A;
    color: #EDF4F2; 
    display: flex; 
    flex-direction: 
    column; align-items: 
    flex-start; 
    padding: 10px;
    border-radius: 15px;
  }
  .Project_Links {
    text-decoration: none; 
    padding: 0%; 
    margin: 0%;
  }
.Project-Details{
  display: flex; 
  flex-direction: row; 
  align-items: center;
}
.Project-Details_Title {
  margin-bottom: 20px;
}
.Project-Details_Text {
  flex: 1;
}
.Project-Details_Image {
  margin-left: 20px;
}

/* Footer */

footer{
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fa{
  color: black;
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color:#D3D3D3;
  transition-duration: 1s;    
}

.fa-instagram:hover{
  transition-duration: 1s;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );    
  /* insta background */
  color: #D3D3D3;
  border-radius: 15px;
}
.fa-linkedin:hover{
  background-color: #0072b1;
  color: #D3D3D3;
  border-radius: 15px;
}
.fa-github:hover{
  background-color: white;
  border-radius: 15px;
}